a:hover {
  color: rgb(92, 253, 92) !important;
}

a:focus {
  color: rgb(66, 255, 66) !important;
}

#esci {
  margin-left: 438px;
  color: rgb(66, 255, 66) !important;
}

#esci:hover {
  color: white !important;
  cursor: pointer;
}

#x {
  color: white;
}
