.container {
  background-color: rgb(34, 34, 34);
  width: 800px;
  margin-top: 90px;
  margin-bottom: 90px;
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 5px 5px 3px rgb(87, 87, 87);
  color: white;
  animation-name: fadeIn;
  animation-duration: 2s;
}

input {
  background-color: rgb(214, 214, 214);
}
